*:root {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  background-color:  #86e3ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 5rem;
    text-align: center;
}

img{
    margin: 5rem;
    width: 70rem;
    padding: 2rem;
    background-color: yellow;
    filter: blur(10px);
}   
